/* Main Content */
.jumbotron {
  text-align: center;
}

.jumbotron > * {
  margin-top: 0 !important; 

}

.card-body {
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Flex Styles */
.main-nav {
  display: flex;
  justify-content: flex-start;
}

.nav ul {
  justify-content: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px;
  padding: 50px;
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  text-indent: 30px;
}

.content-centered div {
  width: 60%;
  height: 100px;
}

.content-centered h2 {
  text-align: center;
}

.contact-content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  text-align: center;
}

.contact-content-centered div {
  width: 60%;
  height: 100px;
}

/*These jumbotrons could be condensed into a single one that would wrap text if I were not lazy.= */
.jumbotron_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
}

.jumbotron_content> * {
  margin-top: 10%; 
  margin-bottom: 7%;
}

.jumbotron_content div {
  width: 75%;
  height: 100px;
}

.jumbotron_content_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-left: 500px;
  margin-right: 500px;
}

.jumbotron_content_contact > * {
  margin-top: 10%; 
  margin-bottom: 2%;
}

.jumbotron_content_contact div {
  width: 75%;
  height: 100px;
}

/* Profile Information */
.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.profile-img img {
  border-radius: 12px 12px;
  margin: 65px;
}

.bio-section {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 35px;
}

.bio-section h2,
h4 {
  margin: 0px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

.footer li {
  display: inline-block;
  padding: 25px;
}

/* footer */
.index-footer {
  margin: 50px 0px 50px 0px;
  text-align: center;
}

.index-footer li {
  display: inline-block;
  padding: 25px;
}
